/.ansible
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.landscape
/.local
/.motd_shown
/.oh-my-zsh
/.profile
/.shell.pre-oh-my-zsh
/.ssh
/.sudo_as_admin_successful
/.vscode-server
/.zcompdump
/.zcompdump-Main-PC-5.8
/.zcompdump-Main-PC-5.8.zwc
/.zsh_history
/.zshrc
/.zshrc.pre-oh-my-zsh
/zsh-autocomplete
/zsh-snap